<local-header [title]="'assets/images/menu-icons/faq-large.svg'"></local-header>
<div class="row mt-4">
    <div class="col-sm col-md-3 scrolling">
        <div *ngFor="let faq of faqs; let first = first;">
            <button class="btn faq-button btn-block" [ngClass]="{'faq-first': first}" (click)="onSelected(faq)">{{faq.question}}</button>
        </div>
    </div>
    <div class="col-sm col-md-9 scrolling">
        <div class="card">
            <div class="card-body">
                <h2>{{selected.question}}</h2>
                <p class='oversized-p' [innerHTML]="selected.answer"></p>
            </div>
        </div>
    </div>
</div>
