<div class="row justify-content-center mb-4 mt-4">
    <div class="col-10 col-md-8">
        <h2 class="text">Sponsors</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-6 col-sm-12">
        <img class="logo" src="assets/images/a/large/m.png" (click)="goToUrl('https://www.msufcu.org/')"/>
    </div>
    <div class="col-md-6 col-sm-12">
        <img class="logo" src="assets/images/a/large/t.svg" (click)="goToUrl('https://www.tcs.com/')"/>
    </div>
</div>
<div class="row mb-4 justify-content-center">
    <div class="col-md-5 col-sm-8 col-10 aptive">
        <img class="logo" src="assets/images/a/medium/a.svg" (click)="goToUrl('https://www.aptiv.com/')"/>
    </div>
    <div class="col-md-5 col-sm-8 col-10 dow">
        <img class="logo" src="assets/images/a/medium/d.png" (click)="goToUrl('https://www.dow.com/en-us')"/>
    </div>
    <div class="col-md-5 col-sm-8 col-10 dow">
            <img class="logo" src="assets/images/a/medium/dy.png" (click)="goToUrl('https://www.dynatrace.com/')"/>
    </div>
    <div class="col-md-5 col-sm-8 col-10 dow">
        <img class="logo" src="assets/images/a/medium/sto.svg" (click)="goToUrl('https://www.stockx.com')"/>
    </div>
    <div class="col-md-5 col-sm-8 col-10 dow">
        <img class="logo" src="assets/images/a/medium/i.svg" (click)="goToUrl('https://www.intrepidcs.com')"/>
    </div>
</div>

<div class="row mb-4 justify-content-center">
    <div class="col-md-3 col-6 zfcontainer">
        <img class="logo" class="zf" src="assets/images/a/medium/z.png" (click)="goToUrl('https://www.zf.com/mobile/en/homepage/homepage.html')"/>
    </div>
    <div class="col-md-3 col-6 mt-2">
        <img class="logo" style="margin-top: 20%" src="assets/images/a/small/d.svg" (click)="goToUrl('https://www.deloitte.com')"/>
    </div>

    <div class="col-md-3 col-6 mt-2">
        <img class="logo" src="assets/images/a/small/go.svg" (click)="goToUrl('https://cloud.google.com')"/>
    </div>
    <div class="col-md-3 col-6 mt-2">
        <img class="logo" src="assets/images/a/small/ao.svg" (click)="goToUrl('https://www.auto-owners.com')"/>
    </div>
    <div class="col-md-3 col-6 mt-2">
        <img class="logo"  style="margin-top: 20%" src="assets/images/a/small/n.png" (click)="goToUrl('https://www.nexteer.com')"/>
    </div>
    <div class="col-md-3 col-6 mt-2" >
        <img class="logo" style="margin-top: 25%" src="assets/images/a/small/at.png" (click)="goToUrl('https://accuratetechnologies.com/')"/>
    </div>
    <div class="col-md-3 col-6 mt-2">
        <img class="logo"  style="margin-top: 20%" src="assets/images/a/msu/msuentre.svg" (click)="goToUrl('https://entrepreneurship.msu.edu')"/>
    </div>
    <div class="col-md-3 col-6 mt-2">
        <img class="logo"  style="margin-top: 20%" src="assets/images/a/msu/sparaninnovations.svg" (click)="goToUrl('https://www.spartaninnovations.org')"/>
    </div>

    <div class="col-md-3 col-6 mt-2 ">
        <img class="logo techstore" src="assets/images/a/msu/techstorewhite.svg" (click)="goToUrl('https://techstore.msu.edu')"/>
    </div>
    <div class="col-md-3 col-6  mt-2">
        <img class="logo" style="margin-top: 13%" src="assets/images/a/msu/msuit.png" (click)="goToUrl('https://tech.msu.edu')"/>
    </div>
    <div class="col-md-3 col-6 mt-2">
        <img class="logo" style="margin-top: 20%"  src="assets/images/a/msu/msucse.svg" (click)="goToUrl('http://cse.msu.edu')"/>
    </div>

    <div class="col-md-3 col-6 mt-2">
        <img class="logo"  src="assets/images/a/small/gg.png" (click)="goToUrl('http://www.gogosqueez.com')"/>
    </div>
    <div class="col-md-3 col-6 mt-2">
        <img class="logo" src="assets/images/a/small/lin.svg" (click)="goToUrl('https://linode.com')"/>
    </div>
    <div class="col-md-3 col-6 mt-2">
        <img class="logo" src="assets/images/a/small/g.svg" (click)="goToUrl('https://github.com')"/>
    </div>
    
    <div class="col-md-3 col-6 mt-2">
        <img class="logo" style="margin-top: 10%" src="assets/images/a/small/m.svg" (click)="goToUrl('http://hackp.ac/mlh-stickermule-hackathons')"/>
    </div>

</div>


