.text {
    text-align: center;
}
.logo {
    margin: 0 auto;
    width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.aptive {
    @media (min-width: 576px) {
        margin-top: 2.85rem!important;
    }
    @media (max-width: 768px) {
        @media (min-width: 576px) {
            margin-top: 2rem!important;
        }
    }
} 
.stock {
    margin-top: 1.5%;
    @media (max-width: 768px) {
        margin-top: -6%;
    }
}
.deloitte {
    margin-top: 20%;
    @media (max-width: 768px) {
        margin-top: 12%;
    }
}
.dow {
    margin-top: 2rem!important;
    @media (max-width: 768px) {
        @media (min-width: 576px) {
            margin-top: 2rem!important;
        }
    }
}
.msuleft {
    @media (min-width: 768px) {
        margin-left: 4%
    }
}
.techstore {
    width: 80%;
}
.last {
    @media (min-width: 768px) {
        margin-left: 5%;
        margin-top: 10%;
    }
}
.zf {
    @media (max-width: 768px) {
        width: 50%
    }
    @media (min-width: 768px) {
        width: 80%; 
        margin-left: 5%;
    }
}
.zfcontainer {
    @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
        display: inherit;
    }
}