<div class="row justify-content-center mb-4 mt-4">
    <div class="col-10 col-md-8">
        <h2 class="sponsor-text">Sponsors</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-5 col-sm-12">
        <img class="sponsor-logo" src="assets/images/sponsor/large/1.png" (click)="goToUrl('https://www.msufcu.org/')"/>
    </div>
    <div class="col-md-5 offset-md-2 col-sm-12">
        <img class="sponsor-logo" src="assets/images/sponsor/large/2.png" (click)="goToUrl('https://www.tcs.com/')"/>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-4 col-sm-6 aptive">
        <img class="sponsor-logo" src="assets/images/sponsor/medium/3.svg" (click)="goToUrl('https://www.aptiv.com/')"/>
    </div>
    <div class="col-md-4 col-sm-6 zfcontainer">
        <img class="sponsor-logo" class="zf" src="assets/images/sponsor/medium/5.png" (click)="goToUrl('https://www.zf.com/mobile/en/homepage/homepage.html')"/>
    </div>
    <div class="col-md-4 col-sm-6 dow">
        <img class="sponsor-logo" src="assets/images/sponsor/medium/4.png" (click)="goToUrl('https://www.dow.com/en-us')"/>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-3 col-sm-6 mt-2">
        <img class="sponsor-logo" style="margin-top: 13%" src="assets/images/sponsor/small/10.svg" (click)="goToUrl('https://www.deloitte.com')"/>
    </div>
    <div class="col-md-3 col-sm-6 mt-2">
        <img class="sponsor-logo" src="assets/images/sponsor/small/11.svg" (click)="goToUrl('https://github.com')"/>
    </div>
    <div class="col-md-3 col-sm-6 mt-2">
        <img class="sponsor-logo" src="assets/images/sponsor/small/12.svg" (click)="goToUrl('https://cloud.google.com')"/>
    </div>
    <div class="col-md-3 col-sm-6 mt-2">
        <img class="sponsor-logo" src="assets/images/sponsor/small/9.svg" (click)="goToUrl('https://www.auto-owners.com')"/>
    </div>
    <div class="col-md-3 col-sm-6 mt-2">
        <img class="sponsor-logo" src="assets/images/sponsor/small/13.png" (click)="goToUrl('https://www.nexteer.com')"/>
    </div>
    <div class="col-md-3 col-sm-6 mt-2">
        <img class="sponsor-logo" src="assets/images/sponsor/msu/6.svg" (click)="goToUrl('https://entrepreneurship.msu.edu')"/>
    </div>
    <div class="col-md-3 col-sm-6 mt-2">
        <img class="sponsor-logo" src="assets/images/sponsor/msu/7.svg" (click)="goToUrl('https://www.spartaninnovations.org')"/>
    </div>
    <div class="col-md-3 col-sm-6 mt-2 ">
        <img class="sponsor-logo techstore" src="assets/images/sponsor/msu/8.svg" (click)="goToUrl('https://techstore.msu.edu')"/>
    </div>
    <div class="col-md-3 col-sm-6 offset-md-4 mt-2">
        <img class="sponsor-logo last" src="assets/images/sponsor/msu/5.svg" (click)="goToUrl('http://cse.msu.edu')"/>
    </div>
</div>

