<div class="row">
    <div class="col-sm-12">
        <h1> Log In </h1>
        <form>
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" id="name"
                    required
                    [(ngModel)]="userInformation.username" name="name"
                    #name="ngModel">
            </div>
        </form>
        <form>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="text" class="form-control" id="pass"
                    required
                    [(ngModel)]="userInformation.username" name="pass"
                    #pass="ngModel">
            </div>
        </form>
    </div>
</div>
