<local-header [title]="'Sign Up!'"></local-header>

<div class="row justify-content-center">
    <div class="col-sm col-md-8 mt-4"> 
        <h3 style="text-align: center;">Create an account to apply to SpartaHack, track your application status, and sign in to the event!</h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 *ngIf="!submitted" class="card-title" style="color: black;">Account Information</h5>
                <form #accountForm="ngForm" *ngIf="!submitted">
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name" placeholder="First Name"
                            required [(ngModel)]="userInput.first_name" name="firstName" #firstName="ngModel">
                        <small *ngIf="!(firstName.valid || firstName.pristine)" class="form-text text-danger">First Name is Required</small>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name" placeholder="Last Name"
                            required [(ngModel)]="userInput.last_name" name="lastName" #lastName="ngModel">
                        <small *ngIf="!(lastName.valid || lastName.pristine)" class="form-text text-danger">Last Name is Required</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="example@msu.edu"
                            required [(ngModel)]="userInput.email" name="email" #email="ngModel"> 
                        <small *ngIf="!(email.valid || email.pristine)" class="form-text text-danger">Email is Required</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="**requirements"
                            required [(ngModel)]="userInput.password" name="password" #password="ngModel"> 
                        <small *ngIf="!(password.valid || password.pristine)" class="form-text text-danger">Password is Required</small>
                    </div>
                    <div class="form-group">
                        <label for="password_confirmation">Confirm Password</label>
                        <input type="password" class="form-control" id="password_confirmation" placeholder="same as above"
                            required [(ngModel)]="userInput.password_confirmation" name="password_confirmation" #passwordc="ngModel"> 
                        <small *ngIf="!(passwordc.valid || passwordc.pristine)" class="form-text text-danger">Confirmation is Required</small>
                    </div>
                    <button [disabled]="!accountForm.valid" (click)="onSubmit()" class="btn btn-primary mr-2">Submit!</button>
                </form>
                <p class="text-danger mt-3" *ngIf="error != ''" [innerHTML]='error'></p>
                <p class="mt-3" *ngIf="submitted">Thank you for your interest! You should recieve a confirmation email shortly.</p>
            </div>
        </div>
    </div>
</div>