 <nav class="navbar navbar-expand-lg navbar-light" style="z-index: 100;">

    <img class="navbar-brand" (click)="onHome()" src="assets/images/diamond.svg">
    <a (click)="onHome()" class="title">SpartaHack V</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="onFaq()">
            <img src="" alt= >
          </a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" (click)="onLogIn()">
            <img src="" alt= >
          </a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" (click)="onDashboard()">
            <img src="" alt= >
          </a>
        </li>
        <li *ngIf="loggedIn && !applied" class="nav-item">
          <a class="nav-link" (click)="onApply()">
            <img src="" alt= >
          </a>
        </li>
        <li *ngIf="admin" class="nav-item">
          <a class="nav-link" (click)="onAdmin()">
            <img src="" alt= >
          </a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" (click)="onLogOut()">
            <img src="" alt= >
          </a>
        </li>
      </ul>
    </div>
  </nav>
