.navbar-brand {
    max-width: 64px;
    max-height: 64px;
}
.navbar {
    background-color: #5f1a69;
}
.navbar-collapse {
    justify-content: flex-end; 
}
.nav-link {
    color: white !important;
    font-size: 1.25rem;
}
.nav-link:hover {
    cursor: pointer;
}
.navbar-toggler {
    margin-left: auto;
}
.title {
    font-family: 'StormFaze'; 
    font-size: 2rem;
}
.title:hover {
    cursor: pointer;
}