<local-header [title]="'assets/images/menu-icons/dashboard'"></local-header>

<div *ngIf="!managing && !showingRsvp && !showingChangePassword && !showingEditApplication && !showingDeleteAccount">
    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-8">
            <h3>Greetings, {{user.first_name}}!</h3>
            <p *ngIf="not_signed_up">You haven't Applied Yet! <a (click)='onApplyClick()' >Apply Here</a></p>
            <p *ngIf="!not_signed_up && !decisionMade">You Have Applied! We will get back to you soon.</p>
            <p *ngIf="decisionMade">A decision has been made regarding your application.</p>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-8" *ngIf="decisionMade">
            <div class="card" *ngIf="accepted">
                <div class="card-body">
                    <h5 class="card-title">Welcome!</h5>
                    <p class="card-text">You have been accepted to attend Spartahack V! Be on the lookout for more information via email as the event gets closer.</p>
                    <div *ngIf="no_rsvp">
                        <p class="card-text">So we know to expect you, please RSVP below.</p>
                        <button class="btn btn-primary btn-block mb-3" (click)="onRsvp()">Add your RSVP!</button>
                    </div>
                    <div *ngIf="!no_rsvp">
                        <p class="card-text">You're all set! See you in January!</p>
                        <!-- <button class="btn btn-primary btn-block mb-3" (click)="onRsvp()">Edit your RSVP!</button> -->
                    </div>
                    <p class="card-text small">Questions? read <a (click)='onFaq()'>the FAQ</a>.</p>
                </div>
            </div>
            <div class="card" *ngIf="!accepted">
                <div class="card-body">
                    <p class="card-text">Unfortunately, we are not able to offer you a spot at SpartaHack at this time.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-10 col-md-8">
            <button class="btn btn-primary btn-block" (click)="onManage()">Manage Account/Application</button>
        </div>
    </div>
    <div *ngIf="adminButtonEnabled" class="row justify-content-center mb-2">
        <div class="col-10 col-md-8">
            <button class="btn btn-primary btn-block" (click)="onAdmin()">Admin Dashboard</button>
        </div>
    </div>
</div>

<div *ngIf="managing && !showingRsvp && !showingChangePassword && !showingEditApplication && !showingDeleteAccount">
    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-8">
            <h3>Account Management</h3>
        </div>
    </div>
    <div *ngIf="!not_signed_up && !decisionMade" class="row justify-content-center mb-2">
        <div class="col-10 col-md-8">
            <button class="btn btn-primary btn-block" (click)="onEdit()">Edit Application</button>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-10 col-md-8">
            <button class="btn btn-primary btn-block" (click)="onPassword()">Change Password</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-8">
            <button class="btn btn-warning btn-primary btn-block" (click)="onDelete()">Delete Account</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-8">
            <button class="btn btn-primary btn-block" (click)="onDashboard()">Back to Dashboard</button>
        </div>
    </div>
</div>

<change-password style="z-index: 100;" [showing]="showingChangePassword"
    (closed)="onPasswordClosed()"></change-password>
<delete-account style="z-index: 100;" [showing]="showingDeleteAccount" [userID]="user.id"
    (closed)="onDeleteClosed()"></delete-account>
<rsvp style="z-index: 100;" [showing]="showingRsvp" [oldRsvp]="rsvp"
    (closed)="onRsvpClosed()"></rsvp>
