/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'StormFaze';
    src: url('./assets/fonts/stormfaze.ttf')  format('truetype');
}
body {
    background-color: #45044f;
    color: white;
}
label {
    color: black;
}