<div class="row justify-content-center mb-4">
    <div class="col-10 col-md-6">
      <object data="assets/images/animated-logo.svg" type="image/svg+xml"></object>
    </div>
</div>
<div [@bodyEnter]="">
    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-6">
            <h3>January 18th - 20th, 2019</h3>
        </div>
        <div class="col-10 col-md-6 location">
            <h3>East Lansing, Michigan</h3>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-8">
            <p>SpartaHack V is Michigan State University's annual student-run hackathon.
                On the weekend of January 18th, we're bringing together students of all skill levels and disciplines to get creative with tech,
                connect with peers and professionals, and forget the words "I can't." We're excited to see what you will create!</p>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
            <div class="col-10 col-md-8">
                <p>Create an account to apply now!</p>
                <button class="btn btn-primary btn-lg btn-block" (click)="createClick()">Create an Account</button>
            </div>
        </div>

    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-8">
            <p>Want to know more?</p>
            <button class="btn btn-primary btn-lg btn-block" (click)="faqClick()">Read Our FAQ!</button>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-10 col-md-8">
            <p style="font-size: 1.5rem;">Interested in sponsoring this year's event? Email us at: <a href="mailto:sponsor@spartahack.com">sponsor@spartahack.com</a></p>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-10 offset-1 col-md-6 col-lg-3 offset-md-0 offset-lg-2 mb-2">
            <button class="btn btn-primary btn-lg btn-block" (click)="prospectusClick()">View Prospectus</button>
        </div>
        <div class="col-10 offset-1 col-md-6 col-lg-3 offset-md-0 offset-lg-2">
            <button class="btn btn-primary btn-lg btn-block" (click)="tierClick()">View Sponsor Tiers</button>
        </div>
    </div> -->

    <sponsors class="mb-4"></sponsors>
</div>
