.waiting {
    color: yellow;
}

.accepted {
    color: greenyellow;
}

.denied {
    color: red;
}

.list-group-item {
    background-color: #5f1a69;
}

.card-text, .card-title {
    color: black;
}

.card-text {
    margin-bottom: .25rem;
}