<div class="row justify-content-center mt-5">
    <div class="col-sm-12 mt-5">
        <div class="footer">
            <div class="row justify-space-between">
                <div class="col-1 offset-4">
                    <img class="icon" src="assets/images/social/facebook.svg" (click)="goToFacebook()"/>
                </div>
                <div class="col-1">
                    <img class="icon" src="assets/images/social/twitter.svg" (click)="goToTwitter()"/>
                </div>
                <div class="col-1">
                    <img class="icon" src="assets/images/social/insta.svg" (click)="goToInsta()"/>
                </div>
                <div class="col-1">
                    <img class="icon" src="assets/images/social/github.svg" (click)="goToGitHub()"/>
                </div>
            </div>
            <p class="mt-3">Designed by SpartaHack, 2018 | <a href="mailto:hello@spartahack.com">hello@spartahack.com</a></p>
        </div>
    </div> 
</div>