<div>
    <div>
      <div class="col-sm-12 mt-4 social-icons">
          <a class="row col-sm-3" href="https://www.facebook.com/spartahackmsu" target="_blank">
            <img class="social-icon clean-icon" id="facebook-social-icon" src="../../assets/images/facebook-18-clean.svg">
            <img class="social-icon glitch-icon" id="facebook-social-icon" src="../../assets/images/facebook-18-glitch.svg">
          </a

          ><a class="row col-sm-3" href="https://twitter.com/SpartaHack" target="_blank">
            <img class="social-icon clean-icon" id="twitter-social-icon" src="../../assets/images/twitter-18-clean.svg">
            <img class="social-icon glitch-icon" id="twitter-social-icon" src="../../assets/images/twitter-18-glitch.svg">
          </a

          ><a class="row col-sm-3" href="https://www.instagram.com/spartahackmsu/" target="_blank">
            <img class="social-icon clean-icon" id="instagram-social-icon" src="../../assets/images/instagram-18-clean.svg">
            <img class="social-icon glitch-icon" id="instagram-social-icon" src="../../assets/images/instagram-18-glitch.svg">
          </a

          ><a class="row col-sm-3" href="https://github.com/SpartaHack" target="_blank">
            <img class="social-icon clean-icon" id="github-social-icon" src="../../assets/images/github-18-clean.svg">
            <img class="social-icon glitch-icon" id="github-social-icon" src="../../assets/images/github-18-glitch.svg">
          </a>
      </div>
    </div>
    <div class="col-sm-12 mt-4">
        <div class="footer">
            <div class="row justify-space-between">
                <div class="col-3 col-lg-2 col-xl-1 offset-lg-2 offset-xl-4">
                    <img class="icon" [@mouseOver]="facebookHovering ? 'hovering' : 'idle'" [src]="facebookSrc" (click)="goToFacebook()" (mouseover)="facebookEnter()" (mouseout)="facebookLeave()"/>
                </div>
                <div class="col-3 col-lg-2 col-xl-1">
                    <img class="icon" [@mouseOver]="twitterHovering ? 'hovering' : 'idle'" [src]="twitterSrc" (click)="goToTwitter()" (mouseover)="twitterEnter()" (mouseout)="twitterLeave()"/>
                </div>
                <div class="col-3 col-lg-2 col-xl-1">
                    <img class="icon" [@mouseOver]="instaHovering ? 'hovering' : 'idle'" [src]="instaSrc" (click)="goToInsta()" (mouseover)="instaEnter()" (mouseout)="instaLeave()"/>
                </div>
                <div class="col-3 col-lg-2 col-xl-1">
                    <img class="icon" [@mouseOver]="githubHovering ? 'hovering' : 'idle'" [src]="githubSrc" (click)="goToGithub()" (mouseover)="githubEnter()" (mouseout)="githubLeave()"/>
                </div>
            </div>
            <p class="mt-3">Designed by SpartaHack, 2018 | <a href="mailto:hello@spartahack.com">hello@spartahack.com</a></p>
        </div>
    </div>
</div>
