<div class="row justify-content-center mt-5">
    <div class="col-sm-12 mt-5">
        <div class="footer">
            <div class="row justify-space-between">
                <div class="col-1 offset-4">
                    <img class="icon" [@mouseOver]="facebookHovering ? 'hovering' : 'idle'" [src]="facebookSrc" (click)="goToFacebook()" (mouseover)="facebookEnter()" (mouseout)="facebookLeave()"/>
                </div>
                <div class="col-1">
                    <img class="icon" [@mouseOver]="twitterHovering ? 'hovering' : 'idle'" [src]="twitterSrc" (click)="goToTwitter()" (mouseover)="twitterEnter()" (mouseout)="twitterLeave()"/>
                </div>
                <div class="col-1">
                    <img class="icon" [@mouseOver]="instaHovering ? 'hovering' : 'idle'" [src]="instaSrc" (click)="goToInsta()" (mouseover)="instaEnter()" (mouseout)="instaLeave()"/>
                </div>
                <div class="col-1">
                    <img class="icon" [@mouseOver]="githubHovering ? 'hovering' : 'idle'" [src]="githubSrc" (click)="goToGithub()" (mouseover)="githubEnter()" (mouseout)="githubLeave()"/>
                </div>
            </div>
            <p class="mt-3">Designed by SpartaHack, 2018 | <a href="mailto:hello@spartahack.com">hello@spartahack.com</a></p>
        </div>
    </div> 
</div>