<div class="row justify-content-center mb-4">
    <div class="col-10">
        <announcements [announcements]="announcements"></announcements>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="col-10 col-md-6">
        <schedule [schedule]="schedule" ></schedule>
    </div>
    <div class="col-10 col-md-6">
        <prizes [prizes]="prizes"></prizes>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="col-10 col-md-6">
        <live-faq [faqs]="faqs"></live-faq>
    </div>
    <div class="col-10 col-md-6">
        <resources [resources]="resources" ></resources>
    </div>
</div>