<div class="row justify-content-center">
    <div class="col-6">
      <object data="assets/images/animated-logo.svg" type="image/svg+xml"></object>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-10">
        <announcements [announcements]="announcements"></announcements>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="col-12 col-md-6">
        <map></map>
    </div>
    <div class="col-12 col-md-6">
        <schedule [schedule]="schedule" ></schedule>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="col-12 col-md-6">
        <live-faq [faqs]="faqs"></live-faq>
    </div>
    <div class="col-12 col-md-6">
        <prizes [prizes]="prizes"></prizes>
    </div>
</div>